.loved {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 0px;
  align-items: center;
  margin-bottom: 0px;
}


.brand-loved {
  margin-left: 152px;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} 

.view-all {
  margin-left: 743px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 550;
  cursor: pointer;
  word-spacing: 5px;
  letter-spacing: 2px;
  color: rgba(0, 128, 128, 0.773);
}

.view-all:hover {
  text-decoration: underline;
}

.branded {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  margin-bottom: 120px;
}

.all {
  margin-left: -20px;
}

.first-brand {
  height: 280px;
  margin-left: 160px;
  border-radius: 10px;
  position: absolute;
  margin-top: -30px;
  width: 200px;
  overflow: hidden;
  background-color: rgba(255, 68, 0, 0.825);
}

.second-brand {
  height: 280px;
  margin-left: 160px;
  border-radius: 10px;
  position: absolute;
  margin-top: -30px;
  width: 200px;
  overflow: hidden;
  background-color: rgba(230, 221, 218, 0.844);
}

.third-brand {
  height: 280px;
  margin-left: 160px;
  border-radius: 10px;
  position: absolute;
  margin-top: -30px;
  width: 200px;
  overflow: hidden;
  background-color: rgba(189, 162, 152, 0.844);
}

.fourth-brand {
  height: 280px;
  margin-left: 160px;
  border-radius: 10px;
  position: absolute;
  margin-top: -30px;
  width: 200px;
  overflow: hidden;
  background-color: rgba(141, 133, 130, 0.648);
}

.fifth-brand {
  height: 280px;
  margin-left: 160px;
  border-radius: 10px;
  position: absolute;
  margin-top: -30px;
  width: 200px;
  overflow: hidden;
  background-color: rgba(141, 133, 130, 0.145);
}


.louis1 {
  height: 100%;
  transition: 0.5s ease;
}

.louis2 {
  height: 100%;
  margin-left: 30px;
  transition: 0.5s ease;
}

.celio {
  height: 100%;
  margin-left: -40px;
  transition: 0.5s ease;
}

.levis {
  height: 100%;
  transition: 0.5s ease;
}

.first-brand:hover .louis1 {
  transform: scale(1.05);
}

.second-brand:hover .louis2{
  transform: scale(1.05);
}

.third-brand:hover .louis2{
  transform: scale(1.05);
}

.fourth-brand:hover .celio {
  transform: scale(1.05);
}

.fifth-brand:hover .levis {
  transform: scale(1.08);
}



.image-name1 {
  height: 40px;
  width: 100px;
  margin-left: 156px;
  border-top-right-radius: 20px;
  border: 10px solid white;
  background-color: rgb(241, 150, 59);
  margin-top: 194px;
  position: relative;
}

.image-name2 {
  height: 40px;
  width: 100px;
  margin-left: 156px;
  border-top-right-radius: 20px;
  border: 10px solid white;
  background-color: rgba(1, 1, 1, 0.973);
  margin-top: 194px;
  position: relative;
}

.image-name3 {
  height: 40px;
  width: 100px;
  margin-left: 156px;
  border-top-right-radius: 20px;
  border: 10px solid white;
  background-color: rgba(1, 1, 1, 0.973);
  margin-top: 194px;
  position: relative;
}

.image-name4 {
  height: 40px;
  width: 100px;
  margin-left: 156px;
  border-top-right-radius: 20px;
  border: 10px solid white;
  background-color: rgba(207, 26, 26, 0.797);
  margin-top: 194px;
  position: relative;
}

.image-name5 {
  height: 40px;
  width: 100px;
  margin-left: 156px;
  border-top-right-radius: 20px;
  border: 10px solid white;
  background-color: rgb(243, 22, 22);
  margin-top: 194px;
  position: relative;
}

.video-brand {
  height: 500px;
  width: 1170px;
  display: flex;
  margin-top: 80px;
  position: relative;
  margin-left: 160px;
}

.content-fashion {
  text-align: center;
  margin-top: 140px;
}

.content-fashion h1 {
  margin-left: 420px;
  font-size: 100px;
  color:aliceblue;
  letter-spacing: 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 0px;
  font-weight: 550;
}


.expo {
  height: 40px;
  width: 120px;
  margin-left: 410px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  margin-top: 20px;
  border-top: 2px solid beige;
  border-bottom: 2px solid beige;
  border-right: 2px solid beige;
  border-left: 2px solid beige;
  background-color: transparent;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 550;
  letter-spacing: 2px;
  color: #ffffff;
}

.expo:hover {
  color: black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
}



.video-mp {
  position: absolute;
  z-index: -1;
  width: 1170px;
  border-radius: 20px;
}


.container {
  margin-top: 120px;
  display: flex;
  background-color: rgba(252, 244, 244, 0.462);
  flex-direction: column;
  width: 1250px;
  height: 470px;
  border-radius: 5px;
  margin-left: 155px;
}

.tab_box {
  display: flex;
  height: 100px;
  margin-top: -15px;
  flex-direction: row;
  margin-bottom: 0px;
  align-items: center;
}

.shop-seller {
  margin-left: 20px;
  width: 400px;
  font-size: 52px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-right: 380px;
}

.tab_btn {
  margin-right: 20px;
  height: 40px;
  margin-top: 10px;
  cursor: pointer;
  width: 120px;
  border-radius: 20px;
  border: none;
  background-color: rgba(212, 209, 209, 0.247);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 550;
  letter-spacing: 2px;
}

.tab_btn.active {
  background-color: rgba(255, 167, 5, 0.667);
  color: white;
}

.content-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.content {
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
  flex-direction: row;
  margin-left: 50px;
}

.card {
  height: 300px;
  width: 250px;
  cursor: pointer;
  overflow: hidden;
  margin-right: 50px;
  background-color: rgba(189, 162, 152, 0.843);
  border-radius: 10px;
}

.content-box .content {
  display: none;
  animation: moving 0.5s ease;
}

@keyframes moving {
  from{transform: translateX(50px); opacity: 0;}
  to{transform: translateX(0px); opacity: 1;}
}

.content-box .content.active {
  display: flex;
}

.model1 {
  height: 105%;
  width: 50%;
  margin-left: 50px;
}

.model2 {
  height: 100%;
  width: 60%;
  margin-left: 50px;
}

.model4 {
  height: 100%;
  width: 70%;
  margin-left: 40px;
}

.model5 {
  height: 100%;
  width: 40%;
  margin-left: 80px;
}

.model6 {
  height: 100%;
  width: 90%;
  margin-left: 10px;
}

.model8 {
  height: 99.5%;
  width: 50%;
  margin-left: 50px;
}

.now-on {
  margin-top: -30px;
}

.now-go {
  height: 40px;
  width: 120px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  background-color:  rgb(236, 201, 188);
  color: black;
  margin-left: 1080px;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.now-go:hover {
  color: white;
  background-color: rgb(250, 195, 176);
}